.land-section{
    background-image: url('../../assets/imges/home.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.mid-section{
    background-image: url('../../assets/imges/STI.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 150%;
}
.lower-section{
    background-image: url('../../assets/imges/STI.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
#btn-reserve{
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    outline: 2px solid var(--yellow);
    transition: 0.4s ease-in;
}
.btn-ic{
    color: #00000050;
}
    #btn-reserve:hover{
        background-color: var(--dark-blue);
        color: var(--white);
        outline-offset: 5px;
        outline-color: var(--dark-blue);
        & .btn-ic{
            color: var(--white);
        }
    }
    #btn-reserve:hover .anim-word {
        transform: translateX(10px); /* Negative value to move text to the left */
    }
    #btn-reserve .anim-word {
        transition: transform 0.5s ease-in-out;
    }
.bg-yellow{
    background-color: var(--yellow);
    overflow:hidden;
    cursor: pointer;
}
.bg-yellow > img{
    transition: all 0.6s ease-in-out;
}
    .bg-yellow > img:hover{
        transform: scale(1.08);
    }
.bg-blue2{
    background-color: #0072BC;
    overflow:hidden;
    cursor: pointer;
}
.bg-blue2 > img{
    transition: all 0.6s ease-in-out;
}
    .bg-blue2 > img:hover{
        transform: scale(1.09);
    }
.oth{
    overflow: hidden;
    cursor: pointer;
}
    .oth > img{
        transition: all 0.6s ease-in-out;
    }
    .oth > img:hover{
        transform: scale(1.02);
    }
.collegeBanner{
    background-color: var(--yellow);
}
.collegeBanner2{
    background-color: #0072BC;
}
.collegeBanner3{
    width: 100%;
}
.filt{
    z-index: 999;
    box-shadow: inset 0 -150px 25px rgba(0, 0, 0, 0.507);
}
.bg-college{
    background-color: var(--dark-blue);
    outline: 2px solid var(--dark-blue);
    width: 150px;
    border: none;
    transition: all 0.2s ease-in-out;
}
    .bg-college:hover{
        outline-offset: 3px;
    }
.bg-college2{
    background-color: transparent;
    outline: 2px solid var(--dark-blue);
    width: 150px;
    border: 1px solid var(--dark-blue);
    color: var(--dark-blue);
    transition: all 0.2s ease-in-out;
}
    .bg-college2:hover{
        outline-offset: 3px;
        border: 1px solid var(--dark-blue);
    }