@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background: var(--light-cyan);
}
::-webkit-scrollbar-thumb:hover{
  background: var(--blue);
}
:root{
  --black-50: #00000050;
  --black-20: #00000020;
  --black: #000;
  --white: #fff;
  --bright-black: #121317;
  --light-black: #1A1C23;
  --gray: #64646480;
  --dark-blue: #1A3B53;
  --secondary-text: #B7B7B7;
  --blue: #0094ff;
  --neutral: #999;
  --type-face: 'Inter', sans-serif;
}
body{
  height: 100vh;
}
.App, #root{
  height: 100%;
  background-color: var(--bright-black);
  font-family: var(--type-face);
  color: var(--white);
}