::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: gray;
}
::-webkit-scrollbar-thumb:hover{
    background: orange;
}
:root{
    --blue: #0B5793;
    --dark-blue: #102A3F;
    --yellow: #FFF200;
    --white: #fff;
    --black: #0B0B0B;
    --hover-black: #343434;
    --hover-blue: #4A85B4;
    --gray: #CCCCCC;
    --dark-gray: #515151;
}
body{
    height:100vh;
}
.App, #root{
    height: 100%;
}
